@charset "utf-8";
/* CSS Document */

/*Bootstrap Padding Fix*/
/*[class*="col-"]{
	padding: 1rem;
}
*/
/** {
	margin: 0 auto;
}*/

/*FONTS*/
@font-face {
    font-family: Heiti SC;
    src: url('../fonts/STHeitiSC-Light.ttf') format('truetype');
}

@font-face {
    font-family: Aller_Rg;
    src: url('../fonts/Aller_Rg.ttf') format('truetype');
}

@font-face {
    font-family: Aller_Bdlt;
    src: url('../fonts/Aller_Bdlt.ttf') format('truetype');
}

@font-face {
    font-family: Myriad Pro;
    src: url('../fonts/MyriadPro-Regular.otf') format('truetype');
}

/*HEADER LOGO/SEARCH/LOGIN/REGISTER START*/
.header-logo {
    background-color: #242424;
    /*height: 45px;*/
}

.logo {
    padding: 6px 0;
}

.logo a {
    font-size: 26px;
    font-family: "Heiti SC", Arial, sans-serif;
    color: #57c5a0;
    text-decoration: none;
}

.logo a:hover {
    color: #46b28e;
}

/*vertical line*/
/*hr{
	border-left: 1px solid #383838;
}*/
.search-bar {
    color: #7e7e7e;
    padding: 10px 23px 0;
    border-right: 1px solid #383838;
    border-left: 1px solid #383838;
}

.search-bar .form-control {
    color: #7e7e7e;
    background-color: #242424;
    font-family: "Myriad Pro", Arial, sans-serif;
    font-size: 12px;
    float: left;
    width: 100px;
    border: none;
    float: left;

}

.search-bar .form-control:focus {
    box-shadow: none;
}

.search-bar .btn {
    color: #adadad;
    float: right;
    background-color: #242424;

}

.search-bar .btn:focus {
    box-shadow: none;
}

.login-register {
    font-size: 12px;
    font-family: "Aller_Rg", Arial, sans-serif;
    padding: 15px 23px 0;
    text-align: center;
    border-right: 1px solid #383838;
    border-left: 1px solid #383838;
}

.login-register a {
    color: #7e7e7e;
    text-decoration: none;
}

.login-register a:hover {
    color: #57c5a0;
}

/*HEADER LOGO/SEARCH/LOGIN/REGISTER END*/

/*HEADER MENU START*/


.header-menu {
    background-color: #ebeae5;
}


.menu-nav li {
    padding: 22px 24px 22px 24px;
    border-left: 1px solid #adadad;
}

.menu-nav li:last-child {
    /*vertical line after contact*/
    border-right: 1px solid #adadad;
}

.menu-nav a {
    color: #242424;
    text-decoration: none;
    font-size: 16px;
    font-family: "Aller_Rg", Arial, sans-serif;
}

.menu-nav a:hover {
    color: #57c5a0;
}

.star-number {
    padding: 22px;
    border-left: 1px solid #adadad;
    border-right: 1px solid #adadad;
}

.star-btn{
	background-color: transparent;
    border: none;
}

.fa-star {
    color: #adadad;
}

.menu-number {
    color: #fff;
    background-color: #adadad;
    font-family: "Aller_Rg", Arial, sans-serif;
    size: 12px;
    padding: 5px;
    border-radius: 6px;
}


.shop-cart {
    padding: 22px;
    border-right: 1px solid #adadad;
}

.shop-btn {
    background-color: transparent;
    border: none;
}

.shop-btn:focus {
    box-shadow: none;
}

.fa-shopping-cart {
    color: #adadad;
}

.menu-cartitems {
    color: #fff;
    background-color: #57c5a0;
    font-family: "Aller_Rg", Arial, sans-serif;
    size: 12px;
    padding: 5px 10px 5px 10px;
    border-radius: 6px;
}

.header-hero {
    background: url(images/header1.jpg);
    background-size: cover;
}

/*HEADER MENU END*/