//Hero Header Switch

%switch-color {
    color: #fff;
}

//Price Text Styling


//Main Title + Show All Text

%title-main {
    font-size: 25px;
    font-family: "Aller_Lt", Arial, sans-serif;
    color: #242424;
   // float: left;
}

%show-all {
    font-size: 14px;
    font-family: "Aller_Bd", Arial, sans-serif;
    color: #bcb5a7;
    border: 2px solid #bcb5a7;
    padding: 5px 15px;
    display: inline-block;
    margin-left: 74%;
}