// HEADER LOGO/SEARCH/LOGIN/REGISTER START

.search-bar {
    .btn {
        color: #adadad;
        float: right;
        background-color: #242424;
    }

    .btn:focus {
        box-shadow: none;
    }
}

/*HEADER LOGO/SEARCH/LOGIN/REGISTER END*/


/*HEADER MENU START*/
/*Star and Shop Icons+Txt*/

.star-cart {
   padding: 0 12px;
   margin-right: -1px;
}

.star-cart {
    .btn {
       padding: 24px 18px;
        border-radius: 0;
        border-left: 1px solid #cccccc;
        background-color: #fff;
    }

    .menu-number {
        font-family: "Aller_Bd", Arial, sans-serif;
        font-size: 12px;
        color: #efefef;
        padding: 4px 7px;
        border-radius: 4px;
        background: #adadad;
        margin-left: 6px;
    }
}

/*Star*/
.star-btn {
    ///background-color: transparent;
    // border: none;
}

.star-btn:focus {
    box-shadow: none;
}

.fa-star {
    color: #6e6e6e;
}


/*Shopping Cart*/
.shop-btn {
    background-color: transparent;
    border: none;
    border-right: 1px solid #cccccc;
   float: right;
}

.shop-btn {
    .menu-number {
        color: #fff;
        background: #57c5a0;
    }
}

.shop-btn:focus {
    box-shadow: none;
}

.fa-shopping-cart {
    color: #6e6e6e;
}

.fa-shopping-cart:hover {
    color: #57c5a0;
}

/*HEADER MENU END*/

/*HEADER CAROUSEL START*/

.shop-button {
    color: #57c5a0;
}

.fa-eye,
.fa-share-square {
    color: #6e6e6e;
}

.fa-eye:hover,
.fa-star:hover,
.fa-share-square:hover,
.shop-button:hover {
    color: #242424;
}

.hero-buttons .btn {
    background-color: #fafaf8;
    padding: 12px 12px;
    margin-right: 3px;
    border: none;
    box-shadow: none;
    border-radius: 0;
}

/*HEADER CAROUSEL END*/


// HEADER NEW ARRIVALS START 
.shop-buttons{
    color: #57c5a0;
}
// HEADER NEW ARRIVALS END

// HEADER BEST SELLERS START 
// HEADER BEST SELLERS END 

/*FOOTER SOCIALS START*/

.subscribe {
    .btn {
        background: #7d7d7d;
        border-radius: 0;
        border: none;
        padding: 8px 10px 8px 10px;
        top: 0;
    }

    .btn:focus {
        outline: none;
    }
}


.socialicons {
    padding-right: 20px;

    ul {
        text-align: right;
    }

    a {
        background-color: #2e2e2e;
        padding: 8px 13px;
        color: #7d7d7d;
        display: inline-block;
    }

    a:hover {
        background-color: #424141;
        text-decoration: none;
    }
}


// FOOTER SOCIALS END 