@font-face {
    font-family: Heiti SC;
    src: url('../fonts/STHeitiSC-Light.ttf') format('truetype');
}

@font-face {
    font-family: Myriad Pro;
    src: url('../fonts/MyriadPro-Regular.otf') format('truetype');
}

@font-face {
    font-family: Aller_Rg;
    src: url('../fonts/Aller_Rg.ttf') format('truetype');
}

@font-face {
    font-family: Aller_Bd;
    src: url('../fonts/Aller_Bd.ttf') format('truetype');
}

@font-face {
    font-family: Aller_Lt;
    src: url('../fonts/Aller_Lt.ttf') format('truetype');
}

@font-face {
    font-family: Aller_It;
    src: url('../fonts/Aller_It.ttf') format('truetype');
}

/*HEADER LOGO/SEARCH/LOGIN/REGISTER START*/

.logo {
    padding: 6px 0;
}

.logo {
    a {
        font-family: "Heiti SC", Arial, sans-serif;
        font-size: 26px;
        color: #57c5a0;
        text-decoration: none;
    }

    a:hover {
        color: #46b28e;
    }
}

.login-register {
    font-family: "Aller_Rg", Arial, sans-serif;
    font-size: 12px;
    padding: 15px 0;
    text-align: center;
    border-right: 1px solid #383838;
    border-left: 1px solid #383838;
}

.login-register {
    a {
        color: #7e7e7e;
        text-decoration: none;
    }

    a:hover {
        color: #57c5a0;
    }
}

/*HEADER LOGO/SEARCH/LOGIN/REGISTER END*/


/*HEADER MENU START*/

.menu-nav {
    li {
        padding: 20px 22px 20px 22px;
        border-left: 1px solid #eeeeee;
    }

    li:last-child {
        /*vertical line after contact*/
        border-right: 1px solid #eeeeee;
    }

    a {
        color: #242424;
        text-decoration: none;
        font-size: 16px;
        font-family: "Aller_Rg", Arial, sans-serif;
    }

    a:hover {
        color: #57c5a0;
    }
}

/*HEADER MENU END*/

/*HEADER CAROUSEL START*/

.carousel-caption {
    right: 20%;
    left: 52%;
    bottom: 60%;
    text-align: left;
    margin-bottom: -200px;
}

.hero-price {
    padding: 27px 9px 27px 9px;
    background-color: #57c5a0;
    color: #fff;
    font-size: 13px;
    font-family: "Aller_Bd", Arial, sans-serif;
    display: inline-block;
}


.hero-title {
    h2 {
        font-size: 40px;
        font-family: "Aller_Lt", Arial, sans-serif;
        padding-right: 250px;
    }

    a {
        color: #242424;
        text-decoration: none;
    }

    a:hover {
        color: #57c5a0;
    }
}


.hero-lorem {
    color: #242424;
    font-size: 20px;
    font-family: "Aller_Lt", Arial, sans-serif;
    padding-right: 185px;
}


.switch {
    h3 {
        @extend %switch-color;
        font-size: 18px;
        font-family: "Aller_Rg", Arial, sans-serif;
    }

    p {
        @extend %switch-color;
        font-size: 12px;
        font-family: "Aller_Rg", Arial, sans-serif;

    }

    div {
        display: inline-block;
        padding: 26px 32px;
        margin-left: 10px;
    }
}

/*HEADER CAROUSEL END*/

/*HEADER OFFERS START*/

.special-first,
.special-second,
.special-third {
    a::before {
        font-family: "Aller_Lt", Arial, sans-serif;
        font-size: 25px;
        text-transform: uppercase;
        color: #ffffff;
        background: #242424;
        position: absolute;
        padding: 2% 6%;
    }
}

.special-first {
    a::before {
        content: "on sale";
        top: 50%;
        left: 50%;
        margin-left: -72px;
        margin-top: -27px;
    }
}

.special-second {
    a::before {
        content: "special offers";
        top: 50%;
        left: 50%;
        margin-left: -114px;
        margin-top: -27px;
    }
}

.special-third {
    a::before {
        content: "must have";
        top: 50%;
        left: 50%;
        margin-left: -88px;
        margin-top: -27px;
    }
}


/*HEADER OFFERS END*/


/*HEADER PRODUCTS START*/

.section-title {
    font-family: "Aller_Lt", Arial, sans-serif;
    font-size: 25px;
    color: #242424;
    margin: 0;
    padding-top: 5px;
    float: left;
}



a .section-show {
    text-decoration: none;
}

.section-show {
    font-family: "Aller_Bd", Arial, sans-serif;
    font-size: 14px;
    color: #bcb5a7;
    border: 2px solid #bcb5a7;
    padding: 8px 22px;
    vertical-align: middle;
    margin: 0;
    float: right;
}

.section-show:hover {
    text-decoration: none;
    color: #8b867b;
    border: 2px solid #8b867b;
}

.showall{
    float:right;
}


.shoestyle {
    span {
        padding: 27px 9px 27px 9px;
        background-color: #57c5a0;
        color: #fff;
        font-size: 13px;
        font-family: "Aller_Bd", Arial, sans-serif;
        display: inline-block;
        z-index: 10;
        margin-left: 15px;
        margin-top: 3px;
    }

    h3 {
        font-size: 18px;
        font-family: "Aller_Bd", Arial, sans-serif;
        color: #242424;
        background-color: #fff;
        padding: 20px 72px 20px 72px;
        margin-top: 3px;
    }
}

/*HEADER PRODUCTS END*/


/*PRE-FOOTER NEWS START*/
.blog {
    background: #ebe7df;
}

.blog-wrap {
    border-top: 1px solid #bcb5a7;
    padding-top: 26px;
    padding-bottom: 26px;
}

.blog-wrap .thumbnail {
    background-color: #dfdbd4;
    border: none;
    border-radius: 0;
    padding: 4px 15px;
}

.blog-wrap h3,
.widget h3 {
    text-transform: uppercase;
    font-family: "Aller_Bd", Arial, sans-serif;
    font-size: 14px;
    color: #242424;
}

.blog-wrap p {
    font-family: "Aller_Rg", Arial, sans-serif;

    font-size: 12px;
    color: #242424;
}

.media-heading {
    font-family: "Aller_Bd", Arial, sans-serif;
    font-size: 14px;
}

.date {
    width: 36px;
    height: 36px;
    background: #57c5a0;
    color: #fff;
    font-family: "Aller_Bd", Arial, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    padding: 0 0;
    text-align: center;
    margin-right: 12px;
}

.testimonials span {
    font-family: "Aller_It", Arial, sans-serif;
    font-size: 12px;
    color: #242424;
}

/*PRE-FOOTER NEWS END*/

/*FOOTER WIDGETS START*/
.widget-style h3 {
    font-family: "Aller_Bd", Arial, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #7d7d7d;
}

.widget-style p {
    font-family: "Aller_It", Arial, sans-serif;
    font-size: 12px;
    color: #a4a4a4;
}

//twitter
.twitter-timeline {

    font-family: "Aller_Rg", Arial, sans-serif;

    a {
        color: #57c5a0;
    }

}


/*FOOTER WIDGETS END*/

/*FOOTER SOCIALS START*/

.subscribe {
    input {
        font-family: "Aller_It", Arial, sans-serif;
        font-size: 12px;
        background: #2e2e2e;
        border: none;
        border-radius: 0;
    }

    ::placeholder {
        color: #acacac;
    }

    .form-control:focus {
        box-shadow: none;
    }
}


/*FOOTER SOCIALS END*/

/*FOOTER COPYRIGHT START*/

.footer-copymessage p {
    font-family: "Aller_Rg", Arial, sans-serif;
    font-size: 12px;
    color: #acacac;
    margin: 0 auto;
    text-align: left;
}

.footer-links {
    ul {
        text-align: right;
    }

    li {
        font-family: "Aller_Rg", Arial, sans-serif;
        font-size: 12px;
        display: inline-block;
        position: relative;
    }

    li:not(:last-child):after {
        content: "/";
        color: #acacac;
    }

    a {
        color: #acacac;
    }

    a:hover {
        text-decoration: none;
        color: #57c5a0;
    }
}

/*FOOTER COPYRIGHT END*/