@font-face {
    font-family: Heiti SC;
    src: url('../fonts/STHeitiSC-Light.ttf') format('truetype');
}

@font-face {
    font-family: Myriad Pro;
    src: url('../fonts/MyriadPro-Regular.otf') format('truetype');
}

@font-face {
    font-family: Aller_Rg;
    src: url('../fonts/Aller_Rg.ttf') format('truetype');
}

@font-face {
    font-family: Aller_Bd;
    src: url('../fonts/Aller_Bd.ttf') format('truetype');
}

@font-face {
    font-family: Aller_Lt;
    src: url('../fonts/Aller_Lt.ttf') format('truetype');
}

@font-face {
    font-family: Aller_It;
    src: url('../fonts/Aller_It.ttf') format('truetype');
}

/*HEADER LOGO/SEARCH/LOGIN/REGISTER START*/

.logo {
    padding: 6px 0;
}

.logo {
    a {
        font-family: "Heiti SC", Arial, sans-serif;
        font-size: 26px;
        color: #57c5a0;
        text-decoration: none;
    }

    a:hover {
        color: #46b28e;
    }
}

.login-register {
    font-family: "Aller_Rg", Arial, sans-serif;
    font-size: 12px;
   padding: 15px 0;
    text-align: center;
    border-right: 1px solid #383838;
    border-left: 1px solid #383838;
}

.login-register {
    a {
        color: #7e7e7e;
        text-decoration: none;
    }

    a:hover {
        color: #57c5a0;
    }
}

/*HEADER LOGO/SEARCH/LOGIN/REGISTER END*/


/*HEADER MENU START*/

.menu-nav {
    li {
        padding: 20px 22px 20px 22px;
        border-left: 1px solid #eeeeee;
    }

    li:last-child {
        /*vertical line after contact*/
        border-right: 1px solid #eeeeee;
    }

    a {
        color: #242424;
        text-decoration: none;
        font-size: 16px;
        font-family: "Aller_Rg", Arial, sans-serif;
    }

    a:hover {
        color: #57c5a0;
    }
}

/*HEADER MENU END*/

/*HEADER CAROUSEL START*/

.carousel-caption {
    right: 20%;
    left: 52%;
    bottom: 60%;
    text-align: left;
    margin-bottom: -200px;
}

.hero-price {
    padding: 27px 9px 27px 9px;
    background-color: #57c5a0;
    color: #fff;
    font-size: 13px;
    font-family: "Aller_Bd", Arial, sans-serif;
    display: inline-block;
}

.hero-title {
    h2 {
        font-size: 40px;
        font-family: "Aller_Lt", Arial, sans-serif;
        padding-right: 250px;
    }

    a {
        color: #242424;
        text-decoration: none;
    }

    a:hover {
        color: #57c5a0;
    }
}

.hero-lorem {
    color: #242424;
    size: 20px;
    font-family: "Aller_Lt", Arial, sans-serif;
    padding-right: 185px;
}


.switch {
    h3 {
        @extend %switch-color;
        font-size: 18px;
        font-family: "Aller_Rg", Arial, sans-serif;
    }

    p {
        @extend %switch-color;
        font-size: 12px;
        font-family: "Aller_Rg", Arial, sans-serif;

    }

    div {
        display: inline-block;
        padding: 26px 32px;
        margin-left: 65px;
    }
}

/*HEADER CAROUSEL END*/

/*HEADER NEW ARRIVALS START*/

.main-newarrivals {
    .section-title {
        @extend %title-main;
        padding-top: 25px;
    }

    .section-show {
        @extend %show-all;
        margin-top: 25px;
    }


}

.section-show {
    a {
        text-decoration: none;
    }

    a:hover {
        color: #242424;
    }
}

.shoestyle {
    span {
        padding: 27px 9px 27px 9px;
        background-color: #57c5a0;
        color: #fff;
        font-size: 13px;
        font-family: "Aller_Bd", Arial, sans-serif;
        display: inline-block;
        z-index: 10;
        margin-left: 15px;
        margin-top: 3px;
    }

    h3 {
        font-size: 18px;
        font-family: "Aller_Bd", Arial, sans-serif;
        color: #242424;
        background-color: #fff;
        padding: 20px 72px 20px 72px;
        margin-top: 3px;
    }
}

/*HEADER NEW ARRIVALS END*/

/*HEADER BEST SELLERS START*/

.main-bestsellers {
    .section-title {
        @extend %title-main;
    }

    .section-show {
        @extend %show-all;
        margin-top: 5px;
    }
}

/*HEADER BEST SELLERS END*/

/*PRE-FOOTER NEWS START*/
.blog {
    background: #ebe7df;
}

.blog-wrap {
    border-top: 1px solid #bcb5a7;
    padding-top: 26px;
    padding-bottom: 26px;
}

.blog-wrap .thumbnail {
    background-color: #dfdbd4;
    border: none;
    border-radius: 0;
    padding: 4px 15px;
}

.blog-wrap h3,
.widget h3 {
    text-transform: uppercase;
    font-family: "Aller_Bd", Arial, sans-serif;
    font-size: 14px;
    color: #242424;
}

.blog-wrap p {
    font-family: "Aller_Rg", Arial, sans-serif;

    font-size: 12px;
    color: #242424;
}

.media-heading {
    font-family: "Aller_Bd", Arial, sans-serif;
    font-size: 14px;
}

.date {
    width: 36px;
    height: 36px;
    background: #57c5a0;
    color: #fff;
    font-family: "Aller_Bd", Arial, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    padding: 0 0;
    text-align: center;
margin-right: 12px;
}

.testimonials span {
    font-family: "Aller_It", Arial, sans-serif;
    font-size: 12px;
    color: #242424;
}

/*PRE-FOOTER NEWS END*/

/*FOOTER WIDGETS START*/
.widget-style h3 {
    font-family: "Aller_Bd", Arial, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #7d7d7d;
}

.widget-style p {
    font-family: "Aller_It", Arial, sans-serif;
    font-size: 12px;
    color: #a4a4a4;
}

//twitter
.twitter-timeline {

    font-family: "Aller_Rg", Arial, sans-serif;

    a {
        color: #57c5a0;
    }

    /* Buttonish */
    // display: inline-block;
    // padding: 6px 12px 6px 30px;
    // margin: 10px 0;
    // border: #ccc solid 1px;
    // border-radius: 3px;
    // background: #f8f8f8 url("") 8px 8px no-repeat;
    // background-size: 1em 1em;

    /* Text */
    // font: normal 12px/18px Helvetica, Arial, sans-serif;
    // color: #a4a4a4;
    // white-space: nowrap;
}


/*FOOTER WIDGETS END*/

/*FOOTER SOCIALS START*/

.subscribe {
    input {
        font-family: "Aller_It", Arial, sans-serif;
        font-size: 12px;
        background: #2e2e2e;
        border: none;
        border-radius: 0;
    }

    ::placeholder {
        color: #acacac;
    }

    .form-control:focus {
        box-shadow: none;
    }
}


/*FOOTER SOCIALS END*/

/*FOOTER COPYRIGHT START*/

.footer-copymessage p {
    font-family: "Aller_Rg", Arial, sans-serif;
    font-size: 12px;
    color: #acacac;
    margin: 0 auto;
    text-align: left;
}

.footer-links {
    ul {
        text-align: right;
    }

    li {
        font-family: "Aller_Rg", Arial, sans-serif;
        font-size: 12px;
        display: inline-block;
        position: relative;
    }

    // li :after {
    //     content: "/";
    // }

    li:not(:last-child):after {
        content: "/";
        color: #acacac;
    }

    a {
        color: #acacac;
    }

    a:hover {
        text-decoration: none;
        color: #57c5a0;
    }
}

/*FOOTER COPYRIGHT END*/