.footer-widgets,
.footer-socials {
    background-color: #242424;
}

.footer-widgets {
    border-bottom: 1px solid #1c1c1c;
}

.footer-content {
    background-color: #2e2e2e;
}


.footersocials-content {
    padding-top: 26px;
    padding-bottom: 26px;

}

.footercopy-content {
    padding-top: 26px;
    padding-bottom: 26px;
}