.footer-widgets,
.footer-socials {
    background-color: #242424;
}

.widgets {
    padding-top: 27px;
    padding-bottom: 17px;
    border-bottom: 1px solid #1c1c1c;
}

.footer-content {
    background-color: #2e2e2e;
}


.footersocials-content {
    padding-top: 38px;
    padding-bottom: 35px;
}

.email-form{
    padding-left: 35px;
}


.socialicons {
    padding-right: 20px;
}

.footercopy-content {
    padding-top: 26px;
    padding-bottom: 26px;
}