// Basic styles for Header part

/*HEADER LOGO/SEARCH/LOGIN/REGISTER START*/
.header-logo {
    background-color: #242424;
    /*height: 45px;*/
}

.search-bar {
    color: #7e7e7e;
    padding: 11px 0;
    border-right: 1px solid #383838;
    border-left: 1px solid #383838;

    .form-control {
        color: #7e7e7e;
        background-color: #242424;
        font-family: "Myriad Pro", Arial, sans-serif;
        font-size: 12px;
        float: left;
        width: 100px;
        border: none;
        float: left;
    }

    .form-control:focus {
        box-shadow: none;
    }

}

/*HEADER LOGO/SEARCH/LOGIN/REGISTER END*/

/*HEADER MENU START*/

.header-menu {
    background-color: #fff;
}

/*HEADER MENU END*/

/*HEADER CAROUSEL START*/
.carousel {
    width: 100%;
}

.carousel-inner img {
    width: 100%;
    background-size: cover;
}

.carousel-indicators {
    background-color: #000;
    height: 14px;
    margin-top: 6px;
    width: 46%;
    margin-left: 29%;
    bottom: -35px;
    padding: 0;
}

.carousel-indicators {
    li {
        width: 25%;
        height: 10px;
        background-color: #000;
        margin-right: 1.08%;
        border: none;
        margin-bottom: 2px;
        margin-top: -23px;
        position: relative;
        top: 25px;
        border-radius: 0;

    }

    li:last-child {
        margin-right: 0;
    }

    li::after {
        content: "";
        display: block;
        width: 2px;
        height: 13px;
        border-radius: 1px;
        background: #2e2e2e;
        position: absolute;
        top: 0;
        right: -4%;
    }

    li:last-child::after {
        content: "";
        display: none;
    }

    .active {
        width: 25%;
        margin-right: 1.04%;
        margin-bottom: 1px;
        height: 10px;
        background-color: #57c5a0;
    }

    .active::before {
        content: "";
        display: block;
        width: 100%;
        height: 10px;
        border-radius: 1px;
        background: #57c5a0;
        position: absolute;
        top: 0;
    }

}

.header-switch {
    background-color: #2e2e2e;
    height: 110px;
}

.switch {
    width: 90%;
    left: 50%;
    margin-left: -32%;
    padding-top: 20px;
    position: absolute;
    text-align: center;
}

/*HEADER CAROUSEL END*/

/*HEADER OFFERS START*/
.header-specials {
    background-color: #242424;
}

.imgstyle {
    padding: 25px 0px;
}

.imgstyle {
    img {
        width: 100%;
    }

    .thumbnail {
        margin-bottom: 0;
        padding: 0;
        border: none;
    }


}

.special-first,
.special-second,
.special-third {
    a::before {
        font-family: "Aller_Lt", Arial, sans-serif;
        font-size: 25px;
        text-transform: uppercase;
        color: #ffffff;
        background: #242424;
        position: absolute;
        padding: 2% 6%;
        transform: rotateX(90deg);
    }
}

.special-first {
    a::before {
        content: "on sale";
        top: 50%;
        left: 50%;
        margin-left: -72px;
        margin-top: -27px;
    }

    a:hover::before {
        transform: rotateX(0deg);
    }
}

.special-second {
    a::before {
        content: "special offers";
        top: 50%;
        left: 50%;
        margin-left: -114px;
        margin-top: -27px;
    }

    a:hover::before {
        transform: rotateX(0deg);
    }
}

.special-third {
    a::before {
        content: "must have";
        top: 50%;
        left: 50%;
        margin-left: -88px;
        margin-top: -27px;
    }

    a:hover::before {
        transform: rotateX(0deg);
    }
}


/*HEADER OFFERS END*/

// HEADER NEW ARRIVALS START
.main-newarrivals,
.main-bestsellers {
    padding: 30px 0 28px;
}

.products-1,
.products-2 {
    background: #ebe7df;

    img {
        width: 100%;
        padding-bottom: 50px;
        background-color: #fff;
    }

    .thumbnail {
        margin-bottom: 0;
        padding: 0 15px;
        border: none;
        background-color: transparent;
    }
}

.products-2 {
    padding-bottom: 47px;
}

.onsale::before {
    content: "on sale!";
    display: block;
    font-family: "Aller_Bd", Arial, sans-serif;
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    background: #000;
    box-sizing: border-box;
    text-align: center;
    padding-top: 26px;
    width: 68px;
    height: 68px;
    position: absolute;
    top: 0;
    right: 33px;
}

.outofstock::before {
    content: "out of stock";
    display: block;
    font-family: "Aller_Bd", Arial, sans-serif;
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    background: #f27e4b;
    text-align: center;
    padding-top: 16px;
    width: 68px;
    height: 68px;
    position: absolute;
    top: 0;
    right: 33px;
}

.price::after {
    content: "$ 145,99";
    display: block;
    font-family: "Aller_Bd", Arial, sans-serif;
    font-size: 13px;
    color: #fff;
    background: #57c5a0;
    text-align: center;
    padding-top: 25px;
    width: 68px;
    height: 68px;
    position: absolute;
    bottom: 0;
    left: 33px;
}

.title {
    position: relative;
    // padding-top: 40px;

    p {
        font-family: "Aller_Rg", Arial, sans-serif;
        font-size: 18px;
        color: #242424;
        position: absolute;
        left: 60px;
        bottom: 5px;
    }
}

.name-buttons {
    position: absolute;
    background-color: #fff;
    transform: rotateY(180deg);

    .btn:not(:last-child) {
        border-radius: 0;
        padding: 12px 12px;
        font-size: 16px;
        margin-right: 3px;
        border: none;
    }

    .btn:focus {
        outline: none;
    }
}

//animation
.more-animation {
    position: absolute;
    width: 164px;
    height: 41px;
    left: 100px;
    bottom: 8px;
    transform-style: preserve-3d;
    transform: perspective(300px);
    perspective-origin: center center;
    transition: all 1.5s ease;
}

.gr-1 {
    p {
        position: static;
        padding: 10px 0 0 23px;
    }
}

.gr-1,
.gr-6 {
    width: 164px;
    height: 41px;
    position: absolute;
}

.gr-3,
.gr-5 {
    width: 164px;
    height: 20px;
    position: absolute;
}

.gr-2,
.gr-4 {
    width: 20px;
    height: 41px;
    position: absolute;
    background: #fff;
}

.gr-1 {
    background: #fff;
    top: 0;
    left: 0;
    backface-visibility: hidden;
}

.gr-2 {
    top: 0;
    left: 100%;
    transform-origin: 0 0;
    transform: rotateY(90deg);
}

.gr-3 {
    top: 100%;
    left: 0;
    transform-origin: 0 0;
    transform: rotateX(-90deg);
}

.gr-4 {
    top: 0;
    right: 100%;
    transform-origin: 100% 0;
    transform: rotateY(-90deg);
}

.gr-5 {
    bottom: 100%;
    transform-origin: 0 100%;
    transform: rotateX(90deg);
}

.gr-6 {
   position: relative;
    transform: translate3d(0, 0, -20px);
}

.shoen-first:hover .more-animation,
.shoen-second:hover .more-animation,
.shoen-third:hover .more-animation,
.shoeb-first:hover .more-animation,
.shoeb-second:hover .more-animation,
.shoeb-third:hover .more-animation {
    transform: rotate3d(0, 1, 0, -180deg);
}


// HEADER NEW ARRIVALS END 

// HEADER BEST SELLERS START



// HEADER BEST SELLERS END